{% extends "main/header1.html" %} 
{% block content %}
{% load static %}

<body>
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box" style="min-height: 33rem;">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="/searchbill">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>Payment Gateway</h3>
          </div>
        </div>
        <div class="layout__body">
            <form class="text-center border border-light p-5" style="text-align:center;"  method="POST">
                {% csrf_token %}
                <br><br>
                <h1><p class="h3 mb-3"><i class="fas fa-coffee"></i> Payment Sucessfull</p></h1>
                <h1><p class="h3 mb-3"><i class="fas fa-coffee"></i> Thank you for using our services.</p></h1>
                <br>
                {% csrf_token %}
                <a href="/" class="btn btn--main btn--pill" style="margin: 5px;">Home</a>
            
            </form>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}